# Python Virtual Environment
.venv/
venv/
ENV/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Flutter/Dart Build Artifacts
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
*.ipa
*.apk
*.dill
